body {
    /* background-image: url('../images/nature.jpg'); */
    /* background-repeat: no-repeat; */
  }

nav{
    background-color: #009fff;
}


.message {
    padding: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.pastor{
    border-radius: 50%;
    
}

img {
    border-radius: 50%;
  }

.about {
    text-align: center;
    margin-right: 400px;
    margin-left: 400px;
}

.other {
    text-align: center;
}

#days {
    font-size: 30px;
}

.brand-logo {
    font-size: 10px;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color:black;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    
    .about{
        text-align: center;
        margin: auto;

    }

    #days {
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .about{
        text-align: center;
        margin: auto;
    }

    #days {
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 800px) {
    /* For mobile phones: */
    
    .about{
        text-align: center;
        margin: auto;
    }
    #days {
        font-size: 20px;
    }
  }