body {
    /* background-image: url('../images/nature.jpg'); */
    /* background-repeat: no-repeat; */
  }

nav{
    background-color: black;
}


.message {
    padding: 20px;
    text-align: center;
}